.fade-in-initial {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 0.6s ease-out;
}


*{
  /* border: 1px solid black; */
  /* outline: 1px solid  black; */
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.card-animate {
  transition: all 1s cubic-bezier(0.17, 0.55, 0.55, 1); /* Smooth easing */
}

.card-animate.slide-up {
  transform: translateY(0);
}

.card-animate.fade-in-initial {
  opacity: 0;
  transform: translateY(50px);
}

.card-animate.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-initial {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.8s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.card-animate {
  transition: all 0.8s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.card-animate.fade-in {
  transform: translateY(0);
}